<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>product</title>
</head>
<script src="../common/loaderJs.js"></script>
<body>
<div id="product">
    <el-row>
        <el-col :span="8" v-for="(o, index) in products" :key="o.value" :offset="2">
            <el-card :body-style="{ padding: '10px' }">
                <img :src="o.loc" class="image">
                <div style="padding: 0px;">
                    <div class="bottom clearfix">
                        {{o.name}}
                        <el-button type="text" class="button" >加入购物车</el-button>
                    </div>
                </div>
            </el-card>
        </el-col>
    </el-row>
</div>
</body>

<style>
    .time {
        font-size: 13px;
        color: #999;
    }

    .bottom {
        margin-top: 13px;
        line-height: 12px;
    }

    .button {
        padding: 0;
        float: right;
    }

    .image {
        width: 300px;
        height:200px;
        display: block;
    }

    .clearfix:before,
    .clearfix:after {
        display: table;
        content: "";
    }

    .clearfix:after {
        clear: both
    }
</style>
<script src="../js/product.js"></script>
</html>